#!/bin/bash
#PBS -N stats{{ MODEL }}
#PBS -W group_list=mfh
#PBS -q {{ QUE }}
#PBS -l cput=1:00:00
#PBS -l walltime=1:00:00
{% if JOBTYPE | default(False) -%}
#PBS -l select={{ NODE }}:ncpus={{ CORE }}:mem={{ MEM }}gb:pcmem={{ MEM }}gb
#PBS -l jobtype={{ JOBTYPE }}
{% else -%}
#PBS -l select={{ NODE }}:ncpus={{ CORE }}:mem={{ MEM }}gb
{% endif -%}
#PBS -m abe 
#PBS -l place=pack:shared
#PBS -j oe

module load {{ PYTHONMOD }}

VERSION=$(echo {{ OUT_PATH }} | rev | cut -d "_" -f1 | rev)

cd $RUN_DIR

echo "{{ PYTHONENV }} ${RUN_DIR}/calc_genome_stats_AJmodel{{ MODEL }}.py ${JOB_ID} ${BUCKET_OUT_PATH}"
{{ PYTHONENV }} ${RUN_DIR}/calc_genome_stats_AJmodel{{ MODEL }}.py ${JOB_ID} ${BUCKET_OUT_PATH}


echo "rm ${BUCKET_OUT_PATH}/*${JOB_ID}*.match"
rm ${BUCKET_OUT_PATH}/*${JOB_ID}*.match
echo "rm ${BUCKET_OUT_PATH}/*${JOB_ID}*.ped; rm ${BUCKET_OUT_PATH}/*${JOB_ID}*.map"
rm ${BUCKET_OUT_PATH}/*${JOB_ID}*.ped; rm ${BUCKET_OUT_PATH}/*${JOB_ID}*.map
echo "rm ${BUCKET_OUT_PATH}/*${JOB_ID}*chr*"
rm ${BUCKET_OUT_PATH}/*${JOB_ID}*chr*
echo "rm ${BUCKET_OUT_PATH}/macsargs_${JOB_ID}.txt"
rm ${BUCKET_OUT_PATH}/macsargs_${JOB_ID}.txt

echo "backup_transfer/rsync_HPC.sh ${VERSION} ${JOB_ID} ${BUCKET_OUT_PATH}"


