#!/bin/bash
#PBS -N macsargs{{ MODEL }}
#PBS -W group_list=mfh
#PBS -J {{ JNUM }}
#PBS -q {{ QUE }}
#PBS -l cput={{ TIME }}:00:00
#PBS -l walltime={{ TIME }}:00:00
{% if JOBTYPE | default(False) -%}
#PBS -l select={{ NODE }}:ncpus={{ CORE }}:mem={{ MEM }}gb:pcmem={{ MEM }}gb
#PBS -l jobtype={{ JOBTYPE }}
{% else -%}
#PBS -l select={{ NODE }}:ncpus={{ CORE }}:mem={{ MEM }}gb
{% endif -%}
#PBS -m abe 
#PBS -l place=pack:shared
#PBS -j oe

module load {{ PYTHONMOD }}

cd $PBS_O_WORKDIR

SYSTEM=$(echo {{ JOBTYPE }} | cut -d "_" -f1)

PBS_ID=$(echo ${PBS_JOBID} | cut -d '[' -f1)
echo "PBS_ID: ${PBS_ID}"

JOB_ID=${PBS_ID}_${PBS_ARRAY_INDEX}
echo "JOB_ID: ${JOB_ID}"

BUCKET_OUT_PATH={{ OUT_PATH }}/${PBS_ID}
echo "BUCKET_OUT_PATH: ${BUCKET_OUT_PATH}"
mkdir -p ${BUCKET_OUT_PATH}

BUCKET_OE_PATH=/xdisk/agladstein/outerror/${PBS_ID}
echo "BUCKET_OE_PATH: ${BUCKET_OE_PATH}"
mkdir -p $BUCKET_OE_PATH
#PBS -o /xdisk/agladstein/outerror/${PBS_ID}

RUN_DIR=/xdisk/agladstein/macsSwig_AJmodels

cd $RUN_DIR

{#echo "{{ PYTHONENV }} gen_macsargs_AJmodel{{ MODEL }}.py $JOB_ID full prior 0 ${BUCKET_OUT_PATH}"#}

{#echo "/usr/pbs/bin/qsub -v BUCKET_OUT_PATH=$BUCKET_OUT_PATH,BUCKET_OE_PATH=$BUCKET_OE_PATH,JOB_ID=$JOB_ID ${PBS_O_WORKDIR}/HPC_workflow/PBS/run-sim_model{{ MODEL }}_${SYSTEM}_{{ QUE }}.pbs"#}


echo "{{ PYTHONENV }} ${RUN_DIR}/gen_macsargs_AJmodel{{ MODEL }}.py $JOB_ID 100000 prior 0 ${BUCKET_OUT_PATH}"
{{ PYTHONENV }} ${RUN_DIR}/gen_macsargs_AJmodel{{ MODEL }}.py $JOB_ID 100000 prior 0 ${BUCKET_OUT_PATH}

SECOND=$(/usr/pbs/bin/qsub -v BUCKET_OUT_PATH=$BUCKET_OUT_PATH,BUCKET_OE_PATH=$BUCKET_OE_PATH,JOB_ID=$JOB_ID,RUN_DIR=$RUN_DIR ${PBS_O_WORKDIR}/HPC_workflow/PBS/run-sim_model{{ MODEL }}_${SYSTEM}_{{ QUE }}.pbs)
echo ${SECOND}

THIRD=$(/usr/pbs/bin/qsub -W depend=afterok:${SECOND} -v BUCKET_OUT_PATH=$BUCKET_OUT_PATH,BUCKET_OE_PATH=$BUCKET_OE_PATH,JOB_ID=$JOB_ID,RUN_DIR=$RUN_DIR ${PBS_O_WORKDIR}/HPC_workflow/PBS/genome_stats_model{{ MODEL }}_${SYSTEM}_{{ QUE }}.pbs)
echo ${THIRD}


